@model CalendarioViewMOD

<div class="row mt-4">
    @if (Model.DiasDoMes.Any() && Model.DiasDoMes.First().Eventos.Any())
    {
        @foreach (var evento in Model.DiasDoMes.FirstOrDefault()?.Eventos)
        {
            <div class="col-md-4 col-12 mb-3">
                <div class="card-event h-100 shadow"
                     data-category="@evento.CdCategoria"
                     data-bs-toggle="modal"
                     data-bs-target="#modalConsultar_@evento.CdEvento">
                    <div class="card-body px-3 py-3">
                        <h6 class="fw-semibold mb-1 text-gray-dark">
                            @evento.TxTitulo
                        </h6>
                        @{
                            var dtInicio = evento.DtInicioEvento.Value.ToString("dd/MM/yyyy");
                            var dtFim = evento.DtFimEvento.Value.ToString("dd/MM/yyyy");
                        }
                        @if (dtInicio != dtFim)
                        {
                            <small class="text-muted d-block">
                                @evento.DtInicioEvento.Value.ToString("dd/MM/yyyy")
                                -
                                @evento.DtFimEvento.Value.ToString("dd/MM/yyyy")
                            </small>
                        }
                        else
                        {
                            <small class="text-muted d-block">
                                @dtInicio
                            </small>
                        }
                        <div class="mt-3">
                            <span class="badge badge-soft @evento.TxCor px-3 py-1">
                                <i class="@evento.TxIcone me-2"></i>@evento.TxCategoria
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_ModalConsultarEvento", evento)
        }
    }
    else
    {
        @await Html.PartialAsync("_PartialVazio")
    }
</div>