@model CategoriaMOD

<div class="modal fade" id="modalConsultar_@Model.CdCategoria" tabindex="-1" aria-labelledby="modalConsultar_@Model.CdCategoria" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-lg">
        <div class="modal-content border-0 rounded-3 shadow">
            <div class="modal-header text-white bg-primary">
                <h5 class="modal-title mx-4" id="modalConsultar_@Model.CdCategoria">
                    <i class="fas fa-file-alt me-3"></i>Detalhes da Categoria
                </h5>
            </div>
            <div class="modal-body mx-4 text-start">
                <div class="mb-4">
                    <h6 class="text-green mb-3"><i class="fas fa-clipboard-list me-2"></i>Categoria</h6>
                    <div class="row g-3">
                        <div class="col-md-9">
                            <div class="d-flex align-items-center justify-content-center align-content-center mt-2 mb-1">
                                <span class="badge rounded-pill @Model.TxCor d-flex align-items-center px-3 pt-2 pb-1 flex-grow-1 shadow-sm">
                                    <i class="@Model.TxIcone h5 me-2"></i>
                                    <span class="text-white text-truncate h5" style="max-width: calc(100% - 30px);" title="@Model.TxTitulo">@Model.TxTitulo</span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 text-gray-dark">
                            <span class="text-gray">Descrição:</span><br />
                            @Model.TxDescricao
                        </div>
                    </div>
                </div>
                <hr />
                <div class="mb-4">
                    <h6 class="text-green mb-3"><i class="fas fa-list me-2"></i>Informações</h6>
                    <div class="row g-3">
                        @if (Model.DtAlteracao != null)
                        {
                            <div class="col-md-6 text-gray-dark">
                                <span class="text-gray">Data do cadastro:</span><br />
                                @Model.DtCadastro.ToString("dd/MM/yyyy HH:mm")
                            </div>
                            <div class="col-md-6 text-gray-dark">
                                <span class="text-gray">Data da última alteração:</span><br />
                                @Model.DtAlteracao.Value.ToString("dd/MM/yyyy HH:mm")
                            </div>
                            <div class="col-md-6 text-gray-dark">
                                <span class="text-gray">Responsável cadastro:</span><br />
                                @Model.NoUsuarioCadastrou
                            </div>
                            <div class="col-md-6 text-gray-dark">
                                <span class="text-gray">Responsável última alteração:</span><br />
                                @Model.NoUsuarioAlterou
                            </div>
                            <div class="col-md-6 text-gray-dark">
                                <span class="text-gray">Setor/Unidade:</span><br />
                                @Model.NoCentroCustoUsuarioCadastrou (@Model.NoUnidadeUsuarioCadastrou)
                            </div>
                            <div class="col-md-6 text-gray-dark">
                                <span class="text-gray">Setor/Unidade:</span><br />
                                @Model.NoCentroCustoUsuarioAlterou (@Model.NoUnidadeUsuarioAlterou)
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12 text-gray-dark">
                                <span class="text-gray">Data do cadastro:</span><br />
                                @Model.DtCadastro.ToString("dd/MM/yyyy HH:mm")
                            </div>
                            <div class="col-md-12 text-gray-dark">
                                <span class="text-gray">Responsável cadastro:</span><br />
                                @Model.NoUsuarioCadastrou
                            </div>
                            <div class="col-md-12 text-gray-dark">
                                <span class="text-gray">Setor/Unidade:</span><br />
                                @Model.NoCentroCustoUsuarioCadastrou (@Model.NoUnidadeUsuarioCadastrou)
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-gray px-4 py-1" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Fechar
                </button>
            </div>
        </div>
    </div>
</div>
